*{
    color:grey;
    font-size: medium;
    font-family: sans-serif;
}

h2{
    color: greenyellow;
    font-size: large;
    border: 5px dashed chartreuse
}

h3{
    color:orange;
    font-size: medium;
}

h4{
    color:red;
    font-size: small;
}

